// TOOLS
@import "_variables.less";
@import "_mixins.less";

:root {
  color-scheme: dark;
}

html, body { 
  background:var(--clay-100-dark);
}
div.loader {
  background:var(--clay-100-dark);
  
  .shadow {
    background:rgba(0,0,0,0.8);
  }
}
ul.training li.lesson,
div.prompt {
  background:var(--base-dark);
  box-shadow:0 0 0 1px rgba(255,255,255,0.1);
  
  .header {
   h5,h3 {
     color:var(--clay-300);
   }
  }

   .contents {
    
     &.overflow { 
       &::after {
         background: rgb(0,0,0);
         background: linear-gradient(0deg, rgba(27,19,65,1) 0%, rgba(27,19,65,0) 100%);
         border-bottom:5px solid var(--base-dark);
       }
     }
     
     h1,h2,h3,h4 { 
      color:var(--base); 
     }
     
     p,li {
       color:var(--clay-300);
       
       strong {
         color:var(--base); 
       }
       
       code {
         border-color:#36FF8D;
         background:rgba(0,0,0,0.9);
         color:var(--clay-100);
       }
     }
     
     video{
       &.light {
         display:none;
       }
       &.dark {
         display:block;
       }
     }
     
     div.embed,
     div.video {
       background:darken(#231955,10%);
     }
     
     ul,ol {
       li {
         color:var(--clay-300);
         
         strong {
           color:var(--base); 
         }
        }
     }
     
     ul li {
       &::marker {
         color:var(--purple-500);
       }
     }
     ol li {
       &::marker {
         color:var(--clay-200);
       }
     }
     
     pre {
       background:#210459;
       border-color:var(--purple-500);
       color:#d7aaff;
       
       &::after {
         background:var(--purple-500);
         color:var(--clay-100);
         border-color:var(--base-dark);
       }
       
       &.done {
         &::after {
           background-image:url('../images/check.svg');
           background-position:center;
           background-repeat:no-repeat;
           color:transparent;
           box-shadow:inset 0 0 0 1px var(--purple-500);
           background-color:var(--base-dark);
         }
       }
     }
     blockquote {
       background:rgba(0,0,0,0.3);
       border-color:rgba(0,0,0,0.8);
       color:white;
       
       button {
         background:rgba(0,0,0,0.3);
         border-color:#36FF8D;
         color:#36FF8D;
         
         &.done {
           border-color:#36FF8D;
           content:'\2713';
           color:transparent;
           background:url('../images/check.svg') center no-repeat transparent;
         }
       }
     }
     
   }
   
   label {
     background:darken(#231955,2%);
     color:var(--clay-300);
   }
   
   a.dismiss {
     background:darken(#231955,20%);
     
     em {
       color:#ecdbba;
     }
   }
   
   &.completed {
     box-shadow:0 0 0 2px var(--green-500);
     
     &::before {
      background-color:var(--green-500); 
     }
   }
   
   &.expose {
     &.completed {
       box-shadow:0 0 0 2px var(--green-500);   
     }
     a.expander {
       background:darken(#231955,20%);
       color:#ecdbba;
     }
     
     .contents p a {
       color:var(--green-500)!important;
     }
   }
}


div.prompt {
  background:darken(#231955,10%);
  box-shadow:0 0 0 1px rgba(255,255,255,0.1), 0 0 30px 0px rgba(0,0,0,0.5);
  
  .contents {
    blockquote {
      background:darken(#231955,15%);
      border-color:var(--purple-500);
      color:var(--purple-300);
      
      a.button {
        border-color:var(--purple-500);
        color:white;
        background-color:var(--purple-500);
      }
    }
  }
}