:root {
  --clay-100: #FAF8F7;
  --clay-100-dark: #231955;
  --clay-200: #F5F2F0;
  --clay-300: #EDE8E6;
  --clay-700: #8A7B74;
  --clay-900: #574F4B;
  --green-100: #F2FFF0;
  --green-400: #BCF1CA;
  --green-500: #47C47D;
  --green-800: #136A2D;
  --charcoal-600: #7E8E9E;
  --charcoal-900: #314351;
  --charcoal-1000: #253642;
  --base: #FFF;
  --base-dark: #1b1341;
  --purple-100: #f9f6ff;
  --purple-300: #c889ff;
  --purple-500: #892cdc;
  --purple-600: #874bf7;
  --pink-500: #f10086;
}
:root {
  color-scheme: dark;
}
html,
body {
  background: var(--clay-100-dark);
}
div.loader {
  background: var(--clay-100-dark);
}
div.loader .shadow {
  background: rgba(0, 0, 0, 0.8);
}
ul.training li.lesson,
div.prompt {
  background: var(--base-dark);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
ul.training li.lesson .header h5,
div.prompt .header h5,
ul.training li.lesson .header h3,
div.prompt .header h3 {
  color: var(--clay-300);
}
ul.training li.lesson .contents.overflow::after,
div.prompt .contents.overflow::after {
  background: #000000;
  background: linear-gradient(0deg, #1b1341 0%, rgba(27, 19, 65, 0) 100%);
  border-bottom: 5px solid var(--base-dark);
}
ul.training li.lesson .contents h1,
div.prompt .contents h1,
ul.training li.lesson .contents h2,
div.prompt .contents h2,
ul.training li.lesson .contents h3,
div.prompt .contents h3,
ul.training li.lesson .contents h4,
div.prompt .contents h4 {
  color: var(--base);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
ul.training li.lesson .contents .tag span.level-1,
div.prompt .contents .tag span.level-1 {
  background: #592eff;
  color: #e2dbff;
}
ul.training li.lesson .contents .tag span.level-2,
div.prompt .contents .tag span.level-2 {
  background: #13533c;
  color: #6ad1a8;
}
ul.training li.lesson .contents .tag span.level-3,
div.prompt .contents .tag span.level-3 {
  color: #fd80d8;
  background: #57003d;
}
ul.training li.lesson .contents p,
div.prompt .contents p,
ul.training li.lesson .contents li,
div.prompt .contents li {
  color: var(--clay-300);
}
ul.training li.lesson .contents p strong,
div.prompt .contents p strong,
ul.training li.lesson .contents li strong,
div.prompt .contents li strong {
  color: var(--base);
}
ul.training li.lesson .contents p code,
div.prompt .contents p code,
ul.training li.lesson .contents li code,
div.prompt .contents li code {
  border-color: #36FF8D;
  background: rgba(0, 0, 0, 0.9);
  color: var(--clay-100);
}
ul.training li.lesson .contents video.light,
div.prompt .contents video.light {
  display: none;
}
ul.training li.lesson .contents video.dark,
div.prompt .contents video.dark {
  display: block;
}
ul.training li.lesson .contents div.wistia,
div.prompt .contents div.wistia,
ul.training li.lesson .contents div.embed,
div.prompt .contents div.embed,
ul.training li.lesson .contents div.video,
div.prompt .contents div.video {
  background: #130d2e;
}
ul.training li.lesson .contents ul li,
div.prompt .contents ul li,
ul.training li.lesson .contents ol li,
div.prompt .contents ol li {
  color: var(--clay-300);
}
ul.training li.lesson .contents ul li strong,
div.prompt .contents ul li strong,
ul.training li.lesson .contents ol li strong,
div.prompt .contents ol li strong {
  color: var(--base);
}
ul.training li.lesson .contents ul li::marker,
div.prompt .contents ul li::marker {
  color: var(--purple-500);
}
ul.training li.lesson .contents ol li::marker,
div.prompt .contents ol li::marker {
  color: var(--clay-200);
}
ul.training li.lesson .contents pre,
div.prompt .contents pre {
  background: #210459;
  border-color: var(--purple-500);
  color: #d7aaff;
}
ul.training li.lesson .contents pre::after,
div.prompt .contents pre::after {
  background: var(--purple-500);
  color: var(--clay-100);
  border-color: var(--base-dark);
}
ul.training li.lesson .contents pre.done::after,
div.prompt .contents pre.done::after {
  background-image: url('../images/check.svg');
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  box-shadow: inset 0 0 0 1px var(--purple-500);
  background-color: var(--base-dark);
}
ul.training li.lesson .contents blockquote,
div.prompt .contents blockquote {
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.8);
  color: white;
}
ul.training li.lesson .contents blockquote button,
div.prompt .contents blockquote button {
  background: rgba(0, 0, 0, 0.3);
  border-color: #36FF8D;
  color: #36FF8D;
}
ul.training li.lesson .contents blockquote button.done,
div.prompt .contents blockquote button.done {
  border-color: #36FF8D;
  content: '\2713';
  color: transparent;
  background: url('../images/check.svg') center no-repeat transparent;
}
ul.training li.lesson label,
div.prompt label {
  background: #20174d;
  color: var(--clay-300);
}
ul.training li.lesson a.dismiss,
div.prompt a.dismiss {
  background: #030206;
}
ul.training li.lesson a.dismiss em,
div.prompt a.dismiss em {
  color: #ecdbba;
}
ul.training li.lesson.completed,
div.prompt.completed {
  box-shadow: 0 0 0 2px var(--green-500);
}
ul.training li.lesson.completed::before,
div.prompt.completed::before {
  background-color: var(--green-500);
}
ul.training li.lesson.expose.completed,
div.prompt.expose.completed {
  box-shadow: 0 0 0 2px var(--green-500);
}
ul.training li.lesson.expose a.expander,
div.prompt.expose a.expander {
  background: #030206;
  color: #ecdbba;
}
ul.training li.lesson.expose .contents p a,
div.prompt.expose .contents p a {
  color: var(--green-500) !important;
}
div.prompt {
  background: #130d2e;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 30px 0px rgba(0, 0, 0, 0.5);
}
div.prompt .contents blockquote {
  background: #0b081a;
  border-color: var(--purple-500);
  color: var(--purple-300);
}
div.prompt .contents blockquote a.button {
  border-color: var(--purple-500);
  color: white;
  background-color: var(--purple-500);
}
